
<footer>
    <div class="signup">
        <div class="signup-text">
            <h2>SIGN UP FOR 10% OFF*</h2>
            <p>Be first to hear about news and offers, plus as a new customer you can enjoy 10% off your first full-priced order. By signing up you agree we will send you marketing updates and accept our <a href="#">Privacy Policy</a>.</p>
            <p><a href="#">*Terms and Conditions apply</a></p>
        </div>
        <form class="signup-button">
            <input type="email" placeholder="Your email address" required>
            <button type="submit">SIGN UP &rarr;</button>
        </form>
    </div>
    
    <div class="links">
        <div class="column">
            <h3>CUSTOMER CARE</h3>
            <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Track Your Order (UK)</a></li>
                <li><a href="#">Track Your Order (International)</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Product Care</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>SHOPPING WITH US</h3>
            <ul>
                <li><a href="#">Find a Hobbs Store</a></li>
                <li><a href="#">Newsletter Sign Up</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Size Guide</a></li>
                <li><a href="#">Personal Styling Appointments (UK)</a></li>
                <li><a href="#">Petite Collection Stores (UK)</a></li>
                <li><a href="#">Limited Edition Stores (UK)</a></li>
                <li><a href="#">Store Events (UK)</a></li>
                <li><a href="#">Gift Box Service (UK)</a></li>
                <li><a href="#">Gift Cards (UK)</a></li>
                <li><a href="#">Refer a Friend (UK)</a></li>

            </ul>
        </div>
        <div class="column">
            <h3>LEGAL</h3>
            <ul>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Online Tax Strategy</a></li>
                <li><a href="#">Fraudulent Websites</a></li>
                <li><a href="#">Modern Slavery Statement</a></li>
                <li><a href="#">Gender Pay Gap Report</a></li>
                <li><a href="#">Candidate Privacy Notice</a></li>
                <li><a href="#">Cookies Policy</a></li>
                <li><a href="#">Conditions of Use</a></li>
                <li><a href="#">Payment Options</a></li>
                <li><a href="#">Accessibility</a></li>

            </ul>
        </div>
        <div class="column">
            <h3>ABOUT US</h3>
            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Inclusion & Diversity</a></li>
                <li><a href="#">Hobbs Sustain</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Affiliate Program</a></li>
                <li><a href="#">CanopyStyle & Pack4Good Policy</a></li>
                <div class="social-media">
                    <a href="#"><img src="/images/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="/images/instagram.png" alt="Instagram"></a>
                    <a href="#"><img src="/images/twitter.png" alt="Twitter"></a>
                </div>
            </ul>

        </div>
    </div>
    
    <div class="security">
        <div class="left">
            &copy; 2025 Hobbs
            <img src="/images/geotrust.png" alt="GeoTrust Secure">
        </div>
        <div class="center">
            <img src="/images/securitylogo.png" alt="SecurityMetrics Credit Card Safe">
            <img src="/images/starfield.webp" alt="Starfield Technologies Verified & Secured">
            <div class="payment-icons">
                <img src="/images/applepay.png" alt="Apple Pay">
                <img src="/images/amex.png" alt="AMEX">
                <img src="/images/mastercard.png" alt="Mastercard">
                <img src="/images/visa.png" alt="VISA">
                <img src="/images/paypal.png" alt="PayPal">
            </div>
        </div>
        <div class="right">
                <img src="/images/feefo.png" alt="Feefo Reviews">

        </div>
    </div>


</footer>