
    <div class="container-fluid p-0">
        <p class='mt-n2' id="second-text">10% off your first order*</p>
    </div>
    <div class="video-banner">
        <video class="banner" muted autoplay loop loading="eager" fetchpriority="high" playsinline preload="metadata" 
            poster="https://www.hobbs.com/on/demandware.static/-/Library-Sites-HBSharedLibrary/default/dw329fa727/content-pages/homepage/SS25/WK5/d-video-still.jpg">
            <source src="https://player.vimeo.com/progressive_redirect/playback/1056730780/rendition/720p/file.mp4?loc=external&amp;signature=ee6bbe25246b87c8ff1055864e23e2c93d6f97bf6ff5fd6694da3ad7f0817ad3&amp;user_id=220315713">
        </video> 

        <div class="video-text">
            <h1>ENCHANTING ELEGANCE</h1> 
            <a href="/products" class="shop-button">SHOP OCCASION</a>
        </div>
    </div>

    <div class="category-section">
        <div class="category">
            <img src="/images/dresses.jpg" alt="Dresses">
            <span>DRESSES</span>
        </div>
        <div class="category">
            <img src="/images/coats&jacket.jpg" alt="Coats & Jackets">
            <span>COATS & JACKETS</span>
        </div>
        <div class="category">
            <img src="/images/tops.jpg" alt="Tops">
            <span>TOPS</span>
        </div>
        <div class="category">
            <img src="/images/knitwear.jpg" alt="Knitwear">
            <span>KNITWEAR</span>
        </div>
    </div>


    <div class="limited-edition-category">

        <div class="text-content">
            <h2>LIMITED EDITION</h2>
            <p>Bold, distinctive, and refined, shop the latest drop of our Limited Edition collection.</p>
            <a href="/products" class="shopCollection">SHOP THE COLLECTION</a>
        </div>

        <div id="multiItemCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4" data-title="Buttermere Blouse">
                    <img src="/images/img1.png" class="d-block w-100"  alt="Image 1">
                  </div>
                  <div class="col-md-4" data-title="Hever Shirt">
                    <img src="/images/img2.png" class="d-block w-100" alt="Image 2">
                  </div>
                  <div class="col-md-4" data-title="Levens Top">
                    <img src="/images/img3.png" class="d-block w-100" alt="Image 3">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4" data-title="Grasmere Shirt">
                    <img src="/images/img4.png" class="d-block w-100" alt="Image 4">
                  </div>
                  <div class="col-md-4" data-title="Harris Trouser">
                    <img src="/images/img5.png" class="d-block w-100" alt="Image 5">
                  </div>
                  <div class="col-md-4" data-title="Barnsley Jacket">
                    <img src="/images/img6.png" class="d-block w-100" alt="Image 6">
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div>

    

    <div class="springCollection">
        <div class="leftSpringCollection">
          <a href="/products" >
          <img src="/images/spring.webp" alt="Spring Collection">
          </a>
        </div>
        <div class="rightSpringCollection">
            <h2>SPRING COLLECTION</h2>
            <h3>NEW & NOW</h3>
            <p>For every kind of spring, shop the latest arrivals in our new season collection.</p>
            <a href="#" class="shopNewIn">SHOP NEW IN</a>
        </div>

    </div>

    <div class="springCollection">
        <div class="rightSpringCollection">
            <h2>MONDAY-TO-FRIDAY</h2>
            <h3>SARTORIAL SILHOUETTES</h3>
            <p>As work routines evolve, so does the need for sharp suiting - cue blazers and shirt dresses that master relaxed tailoring.</p>
            <a href="/products" class="shopNewIn">SHOP WORKWEAR</a>
        </div>
        <div class="leftSpringCollection">
            <img src="/images/workwear.webp" alt="Workwear Collection">
        </div>

    </div>

    <div class="limited-edition-category">
        
        <div id="multiItemCarousel2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4" data-title="Hetty Coat">
                    <img src="/images/image1.png" class="d-block w-100" alt="Image 1">
                  </div>
                  <div class="col-md-4" data-title="Adela Jacket">
                    <img src="/images/image2.png" class="d-block w-100" alt="Image 2">
                  </div>
                  <div class="col-md-4" data-title="Amy Jumper">
                    <img src="/images/image3.png" class="d-block w-100" alt="Image 3">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4"data-title="Marie Jacket">
                    <img src="/images/image4.png" class="d-block w-100" alt="Image 4">
                  </div>
                  <div class="col-md-4" data-title="Lulu Cardigan">
                    <img src="/images/image5.png" class="d-block w-100" alt="Image 5">
                  </div>
                  <div class="col-md-4" data-title="Frida Trench Coat">
                    <img src="/images/image6.png" class="d-block w-100" alt="Image 6">
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#multiItemCarousel2" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#multiItemCarousel2" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="text-content">
            <h2>TRANSITIONAL LAYERING</h2>
            <p>Come rain or shine, explore transitional ensembles made for everyday ease.</p>
            <a href="/products" class="shopCollection">SHOP NOW</a>
        </div>
    </div>
    
    <div class="limited">
        <div class="limitedimg">
            <img src="/images/limited.png" alt="Limited Edition">
        </div>
        <div class="limited-text">
            <h1>LIMITED EDITION</h1> 
            <a href="#" class="limitedED">READ THE EDITORIAL</a>
        </div>
    </div>

    <div class="shareWithus">
        <h2>SHARE WITH US #HOBBSLONDON</h2>
    </div>

    <div class="category-section">
        <div class="share">
            <img src="/images/img1.webp" alt="DELORA BLOUSE">
            <span class="before-hover">DELORA BLOUSE @mimilabesa</span>
            <span class="after-hover">SHOP THIS STYLE</span>
        </div>
        <div class="share">
            <img src="/images/img2.webp" alt="Trench COAT">
            <span class="before-hover">VIVIENNE TRENCH COAT @stylesofsophie_</span>
            <span class="after-hover">SHOP THIS STYLE</span>
        </div>
        <div class="share">
            <img src="/images/img3.webp" alt="CARDIGAN">
            <span class="before-hover">JASMINA CARDIGAN @josieroonan</span>
            <span class="after-hover">SHOP THIS STYLE</span>
        </div>
        <div class="share">
            <img src="/images/img4.webp" alt="THEA DRESS">
            <span class="before-hover">THEA DRESS @dress_loving_mama</span>
            <span class="after-hover">SHOP THIS STYLE</span>
        </div>
    </div>
