<header>

        <div class="container-fluid p-0">
            <p class='mt-n2' id="first-text">Shop with confidence - local taxes & duties are calculated at checkout</p>
        </div>
        
        <div class="container-fluid p-0">
            <section class="slideshow">
                <div class="slides">
                <div class="slide">FREE STANDARD DELIVERY OVER £150</div>
                <div class="slide">FREE RETURNS</div>
                </div>
            </section>
        </div>
        
        <div class="search-bar">
            <input type="text" placeholder="SEARCH FOR PRODUCTS">
            <button type="submit">
                <img src="/images/search.svg" alt="Search">
            </button>
        </div>

        <div class="logo">
            <img src="/images/logo.svg" alt="Hobbs Home">
        </div>

        <div class="header-icons">
                <a href="/login">
                    <img src="/images/account.svg" alt="Login">
                </a>
            <img src="/images/store.svg" alt="Location">
            <img src="/images/wishlist.svg" alt="Wishlist">
             <img src="/images/minicart.svg" alt="Cart">
        </div>
        
    </header>

    <%- include('navigation') %>

   